SERVER_PORT=your port here
SERVER_DATABASE_URL=postgresql connection string
SERVER_JWT_SECRET=your_jwt_secret_key_here
SERVER_NODE_ENV=development

# Frontend Configuration (Vite)
VITE_API_URL=your url here 
